{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Attendance</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <div class="container mt-4">
        <h1>Your Attendance Records</h1>
        {% if attendances %}
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Time</th>
                    </tr>
                </thead>
                <tbody>
                    {% for attendance in attendances %}
                        <tr>
                            <td>{{ attendance.date }}</td>
                            <td>{{ attendance.time }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <div class="alert alert-info" role="alert">
                You have no attendance records.
            </div>
        {% endif %}

        <h1>Your Captured Images</h1>
        {% if captured_images %}
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Username</th>
                        <th scope="col">ID</th>
                        <th scope="col">Image</th>
                        <th scope="col">Capture Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for image in captured_images %}
                        <tr>
                            <td>{{ image.student.user.username }}</td>
                            <td>{{ image.student.id }}</td>
                            <td><img src="{{ image.image.url }}" alt="Captured Image" width="100"></td>
                            <td>{{ image.timestamp|date:"Y-m-d" }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <div class="alert alert-info" role="alert">
                You have no captured images.
            </div>
        {% endif %}
    </div>
    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
